<!--<div class="container p-5 m-5 d-inline-block">-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content shadow p-3 mb-5 rounded">
      <div class="imgcontainer">
        <img src="assets/img/Login3.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <div class="column">
          <form [formGroup]="form" class="container p-3">
            <fieldset>
              <div class="form-field">
                <label class="form-label"><b>Usuario</b></label>
                <input type="text" class="form-control" placeholder="Introduce usuario"
                       name="uname" formControlName="uname">
                <div *ngIf="uname?.touched || uname?.dirty">
                  <small class="text-danger" *ngIf="uname?.errors && uname?.errors?.required">
                    Introducir usuario por favor
                  </small>
                  <small class="text-danger" *ngIf="uname?.errors && uname?.errors?.minlength">
                    Usuario debe tener al menos 3 caracteres
                  </small>
                  <small class="text-danger" *ngIf="uname?.errors && uname?.errors?.autenticationError">
                    Usuario no existe
                  </small>
                </div>
              </div>
              <div class="form-field">
                <label class="mt-3 form-label"><b>Password</b></label>
                <input type="password" class="form-control"
                       placeholder="Introduce password"
                       name="psw" formControlName="psw">
                <div *ngIf="psw?.touched || psw?.dirty">
                  <small class="text-danger" *ngIf="psw?.errors && psw?.errors?.required">
                    Introducir password por favor
                  </small>
                  <small class="text-danger" *ngIf="psw?.errors && psw?.errors?.minlength">
                    Password debe tener al menos 4 caracteres
                  </small>
                  <small class="text-danger" *ngIf="psw?.errors && psw?.errors?.passwordError">
                    Password incorrecta
                  </small>
                </div>
              </div>
            </fieldset>
            <div class="form-buttons">
              <button type="submit" class="mt-3 btn btn-primary"
                      (click)="onSubmit()" [disabled]="form.invalid">Login</button>
              <div class="container text-white">
                <button type="button" class="btn btn-secondary cancelbtn" (click)="close()">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


