/* Bordered form */
form {
  /*border: 3px solid #f1f1f1;*/
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 15px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  /*border-radius: 50%;*/
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/*MODAL*/
/*// this makes the .modal visible*/
.sshow {
  display: block;
}

/*// this makes the element hidden/invisible*/
.hhidden {
  display: none;
}

/*// this holds the CSS display of the modal*/
.mmodal {
  /*// makes it hover above all elements*/
  z-index: 1000;
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 300px;
  width: 500px;
}

.mmodal-body {
  background: #fff;
  margin: 40px;
  padding: 20px;
}

/*// backdrop color*/
.mmodal-background {
  /*// should be below the .modal but above all other elements*/
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  /*// makes the below elements visible to a degree.*/
  opacity: 0.95;
}
