<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Próximas citas</title>
    <style>
        body {
            color: #333333;
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.429;
        }
        .emoji {
            font-size: 50px;
        }
    </style>
</head>
<body>
<div>
    <header>
        <p>Hola Sonia,</p>
        <p>Estas son las citas programadas para el {{date}}:</p>
    </header>
    <section>
        <h4>{{^appointments}}No hay citas programadas para este día.{{/appointments}}</h4>
        <ol>
        {{#appointments}}
            <li>{{startingDate}} - {{place}} - {{subject}} - {{duration}} - {{type}}</li>
        {{/appointments}}
        </ol>
    </section>
    <footer>
        <p></p>
        <p></p>
        Generación automática de correo.<br>
        slaserybelleza@gmail.com
        <p class="emoji">&#{{emoji}};</p>
    </footer>
</div>
</body>