.error {
  font-size: small;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 6px;
  color: rgb(220,53,69);
  border: 1px solid rgb(220,53,69);
  border-radius:.25rem;
  border-left: 4px solid rgb(220,53,69);
}

/*.input-group {*/
/*  margin-top: 15px;*/
/*}*/
