<div class="container p-0">
  <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()" (click)="onFormClick()" novalidate>
    <fieldset>
      <section id="subjectSection" class="row">
        <div class="col-md">
          <div class="input-group">
            <div class="input-group-text">Cita</div>
            <input type="text" id="subject" placeholder="Cliente" class="form-control me-2" formControlName="subject"
                   [ngClass]="{'border-danger text-danger' : formErrors.subject}"
                   (blur)="logValidationErrors()">
            <div class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-person-plus"
                   viewBox="0 0 16 16">
                <path
                  d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd"
                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <i class="bi bi-person-plus-fill"></i>
            </div>
          </div>
          <small class="text-danger" *ngIf="formErrors.subject">
            {{formErrors.subject}}
          </small>
        </div>
      </section>

      <section id="placeSection" class="row mt-3">
        <div class="col-md">
          <div class="input-group">
            <div class="input-group-text">Lugar</div>
            <input type="text" id="place" placeholder="Centro" class="form-control me-2" formControlName="place"
                   [ngClass]="{'border-danger text-danger' : formErrors.place}"
                   (blur)="logValidationErrors()">
            <div class="input-group-text">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop"
                   viewBox="0 0 16 16">
                <path
                  d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
              </svg>
              <i class="bi bi-shop"></i>
            </div>
          </div>
          <small class="text-danger" *ngIf="formErrors.place">
            {{formErrors.place}}
          </small>
        </div>
      </section>

      <section id="descriptionSection" class="row mt-3">
        <div class="input-group">
          <div class="input-group-text">Descripción</div>
          <textarea class="form-control" id="description" formControlName="description"
                    placeholder="Descripción ..."></textarea>
        </div>
      </section>

      <section id="durationTypeSection" class="row">
        <article id="durationArticle" class="col-md-4 mt-3">
          <div class="input-group">
            <div class="input-group-text">Duración</div>
            <select id="duration" formControlName="duration"
                    class="form-select form-control w-auto d-inline me-1">
              <option *ngFor="let elem of durationSelect" [value]="elem.value">
                {{elem.value}}
              </option>
            </select>
            <small class="text-danger" *ngIf="formErrors.duration">
              {{formErrors.duration}}
            </small>
          </div>
        </article>

        <article id="typeArticle" class="col-md-4 mt-3">
          <div class="input-group">
            <div class="input-group-text">Tipo</div>
            <select id="type" formControlName="type"
                    class="form-select form-control w-auto d-inline me-2">
              <option *ngFor="let elem of typeSelect" [value]="elem.value">
                {{elem.value}}
              </option>
            </select>
            <small class="text-danger" *ngIf="formErrors.type">
              {{formErrors.type}}
            </small>
          </div>
        </article>

        <article id="cancelArticle" class="col-md-4 mt-3">
          <div class="form-check form-switch">
            <input type="checkbox" id="cancel" formControlName="cancel"
                   class="form-check-input form-control control">
            <label for="cancel" class="form-check-label w-auto d-inline ms-2">Cancelar cita</label>
          </div>
        </article>
      </section>

      <section id="datesSection" formGroupName="datesGroup" class="row">
        <article id="dateFromArticle" class="form-group col-lg mt-3">
          <div class="input-group"  data-date-format="HH:mm" data-date-useseconds="false">
            <div class="input-group-text">Comienza</div>
            <input type="date" class="form-control w-25"
                   id="startingDate" formControlName="startingDate"
                   value="{{startingDate}}"
                   [ngClass]="{'border-danger text-danger' : formErrors.startingDate}"
                   (blur)="logValidationErrors()">
            <input type="time" class="form-control" data-date-format="HH:mm" data-date-useseconds="false"
                   id="startingTime" formControlName="startingTime"
                   value="{{startingTime}}"
                   [ngClass]="{'border-danger text-danger' : formErrors.startingTime}"
                   (blur)="logValidationErrors()">
          </div>
        </article>

        <article id="dateToArticle" class="form-group col-lg mt-3">
          <div class="input-group" data-date-format="HH:mm">
            <div class="input-group-text">Termina</div>
            <input type="date" class="form-control w-25"
                   id="endDate" formControlName="endDate"
                   value="{{endDate}}"
                   [ngClass]="{'border-danger text-danger' : formErrors.endDate || formErrors.datesGroup}"
                   (blur)="logValidationErrors()">
            <input type="time" class="form-control" data-date-format="HH:mm" data-date-useseconds="false"
                   id="endTime" formControlName="endTime"
                   value="{{endTime}}"
                   [ngClass]="{'border-danger text-danger' : formErrors.endTime || formErrors.datesGroup}"
                   (blur)="logValidationErrors()">
          </div>
        </article>

        <div class="row mt-4">
          <div class="col-sm error" *ngIf="formErrors.startingDate">
            {{formErrors.startingDate ? formErrors.startingDate : formErrors.datesGroup}}
          </div>
          <div class="col-sm error" *ngIf="formErrors.startingTime">
            {{formErrors.startingTime ? formErrors.startingTime : formErrors.datesGroup}}
          </div>
          <div class="col-sm error" *ngIf="formErrors.endDate">
            {{formErrors.endDate ? formErrors.endDate : formErrors.datesGroup}}
          </div>
          <div class="col-sm error" *ngIf="formErrors.endTime || formErrors.datesGroup">
            {{formErrors.endTime ? formErrors.endTime : formErrors.datesGroup}}
          </div>
        </div>
        <div *ngIf="saved">
          <div class="alert alert-success"><strong>Cita guardada con exito!</strong></div>
        </div>
      </section>
    </fieldset>

    <div class="d-flex justify-content-end">
      <button id="submitBtn" type="submit" class="btn btn-outline-primary me-2" [disabled]="detailsForm.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>


