<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content shadow p-3 mb-5 rounded">
      <div style="text-align:center">
        <h2>Contáctanos</h2>
        <p>Déjanos tu número de teléfono o e-mail</p>
      </div>
      <div class="row">
        <div class="col-lg-3 mb-3">
          <img src="assets/img/Contact2.jpg" style="width:100%" alt="Contacto">
          <a class="myButton w-100 mt-2" href="https://api.whatsapp.com/send?phone={{telephone}}}">WhatsApp
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp"
                 viewBox="0 0 16 16">
              <path
                d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/>
            </svg>
          </a>
          <!--            href="https://wa.me/34656426515/?text=Hola, por favor podrias enviarme informacion acerca de "-->
          <button class="myButton w-100 mt-2" (click)="contact(contactUrl)">Email
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                 viewBox="0 0 16 16">
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
          </button>
        </div>

        <div class="col-lg-9">
          <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="container p-3">
              <div class="form-group"> <!--[className]="!fname.valid && fname.touched ? 'text-danger' : ''">-->
                <label for="fname" class="form-label">Nombre *</label>
                <input type="text" id="fname" #fname="ngModel" [(ngModel)]="emailContactContent.name"
                       class="form-control"
                       name="fname" placeholder="Tu nombre..." required pattern="[ a-zA-ZáéíóúÁÉÍÓÚ]+">
                <small class="text-danger" *ngIf="!fname.valid && fname.touched">
                  El nombre no es válido
                </small>
              </div>
              <div class="form-group">
                <label for="flastname" class="form-label">Apellidos</label>
                <input type="text" id="flastname" #flastname="ngModel" [(ngModel)]="emailContactContent.surname"
                       class="form-control" name="flastname" placeholder="Tus apellidos..."
                       pattern="[ a-zA-ZáéíóúÁÉÍÓÚ]+">
                <small class="text-danger" *ngIf="!flastname.valid && flastname.touched">
                  Los apellidos no son válidos
                </small>
              </div>
              <div class="form-group">
                <label for="ftelephone" class="form-label d-block">Teléfono <small>(* o email deben ser
                  informados)</small></label>
                <input type="text" id="ftelephone" #ftelephone="ngModel" [(ngModel)]="emailContactContent.telephone"
                       class="form-control" name="ftelephone" placeholder="Tu teléfono..."
                       pattern="[0-9]+" minlength="9" maxlength="9">  <!--or pattern="[0-9]{9}"-->
                <small class="text-danger" *ngIf="!ftelephone.valid && ftelephone.touched">
                  Teléfono no válido.
                </small>
              </div>
              <div class="form-group">
                <label for="femail" class="form-label d-block">E-mail</label>
                <input type="email" id="femail" #femail="ngModel" [(ngModel)]="emailContactContent.email"
                       class="form-control"
                       name="femail" placeholder="Tu e-mail..." pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
                <small class="text-danger" *ngIf="!femail.valid && femail.touched">
                  Email no válido
                </small>
              </div>
              <div class="form-group">
                <label for="fcomment" class="form-label">Comentario *</label>
                <textarea id="fcomment" #fcomment="ngModel" [(ngModel)]="emailContactContent.comment"
                          class="form-control"
                          name="fcomment" placeholder="Escribe algo..." required></textarea>
                <small class="text-danger" *ngIf="!fcomment.valid && fcomment.touched">
                  Comentario no válido
                </small>
              </div>
              <div class="container row justify-content-evenly m-2">
                <input type="button" class="col-sm-5 btn btn-outline-primary mt-3" value="Cancelar" (click)="close()">
                <input type="submit" class="col-sm-5 btn btn-outline-primary mt-3" value="Enviar"
                       [disabled]="userForm.invalid || (ftelephone.value=='' && femail.value=='')">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
