* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  resize: vertical;
}

.link {
  text-decoration: none;
  cursor:pointer;
}

/*input[type=submit] {*/
/*  background-color: #04AA6D;*/
/*  color: white;*/
/*  padding: 12px 20px;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*}*/

/*input[type=submit]:hover {*/
/*  background-color: #45a049;*/
/*}*/

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

textarea {
  height: 170px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
