<main class="container">
  <div id="cal">
    <div class="header">
      <span class="left button fs-3" id="prev" (click)="previousMonth()"> &lang; </span>
      <form name="selectmonthyear" class="month-year">
        <select [(ngModel)]="selectMonth" name="searchmonth" (change)="changeMonth()"
                class="text-white p-3 fs-6 border-0 bg-transparent">
          <option [ngValue]="selectMonth" selected>{{selectMonth}}</option>
          <option *ngFor="let monthItem of monthsDefinition" [ngValue]="monthItem.name"> {{monthItem.name}} </option>
        </select>
        <select [(ngModel)]="selectYear" name="searchyear" (change)="changeYear()"
                class="text-white p-3 mt-3 me-4 ms-4 fs-6 border-0 bg-transparent">
          <option [ngValue]="selectYear">{{selectYear}}</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
        </select>
        <button type="button" (click)="today()" class="rounded-pill text-white p-3 fs-6 bg-transparent border-0 shadow">
          Hoy
        </button>
      </form>
      <span class="right button fs-3" id="next" (click)="nextMonth()"> &rang; </span>
    </div>
    <table id="days">
      <thead>
      <tr>
        <td *ngFor="let dWeek of weekDays"> {{dWeek.slice(0, 3) | uppercase}} </td>
      </tr>
      </thead>
    </table>
    <div id="cal-frame">
      <table class="curr">
        <tbody>
        <tr>
          <td *ngFor="let day of calendarRow1" (click)="findApmt(day)"
              [ngClass]="{'today': day.today, 'notinthemonth': day.enabled}">
            <p> {{day.day}} </p>
            <div *ngFor="let appmt of day.appointments" class="text-truncate small"
                 [class.cancel]="appmt.cancelDate">
              <div class="badge rounded-pill pill" [class.cancel-pill]="!appmt.cancelDate">
                {{("00" + appmt.startingDate.getHours()).slice(-2) + ":" + ("00" + appmt.startingDate.getMinutes()).slice(-2)}}
              </div>
              {{appmt.subject}}
            </div>
          </td>
        </tr>
        <tr>
          <td *ngFor="let day of calendarRow2" (click)="findApmt(day)" [ngClass]="{'today': day.today}">
            <p> {{day.day}} </p>
            <div *ngFor="let appmt of day.appointments" class="text-truncate small"
                 [class.cancel]="appmt.cancelDate">
              <div class="badge rounded-pill pill" [class.cancel-pill]="!appmt.cancelDate">
                {{("00" + appmt.startingDate.getHours()).slice(-2) + ":" + ("00" + appmt.startingDate.getMinutes()).slice(-2)}}
              </div>
              {{appmt.subject}}
            </div>
          </td>
        </tr>
        <tr>
          <td *ngFor="let day of calendarRow3" (click)="findApmt(day)" [ngClass]="{'today': day.today}">
            <p> {{day.day}} </p>
            <div *ngFor="let appmt of day.appointments" class="text-truncate small"
                 [class.cancel]="appmt.cancelDate">
              <div class="badge rounded-pill pill" [class.cancel-pill]="!appmt.cancelDate">
                {{("00" + appmt.startingDate.getHours()).slice(-2) + ":" + ("00" + appmt.startingDate.getMinutes()).slice(-2)}}
              </div>
              {{appmt.subject}}
            </div>
          </td>
        </tr>
        <tr>
          <td *ngFor="let day of calendarRow4" (click)="findApmt(day)" [ngClass]="{'today': day.today}">
            <p> {{day.day}} </p>
            <div *ngFor="let appmt of day.appointments" class="text-truncate small"
                 [class.cancel]="appmt.cancelDate">
              <div class="badge rounded-pill pill" [class.cancel-pill]="!appmt.cancelDate">
                {{("00" + appmt.startingDate.getHours()).slice(-2) + ":" + ("00" + appmt.startingDate.getMinutes()).slice(-2)}}
              </div>
              {{appmt.subject}}
            </div>
          </td>
        </tr>
        <tr>
          <td *ngFor="let day of calendarRow5" (click)="findApmt(day)"
              [ngClass]="{'today': day.today, 'notinthemonth': day.enabled}">
            <p> {{day.day}} </p>
            <div *ngFor="let appmt of day.appointments" class="text-truncate small"
                 [class.cancel]="appmt.cancelDate">
              <div class="badge rounded-pill pill" [class.cancel-pill]="!appmt.cancelDate">
                {{("00" + appmt.startingDate.getHours()).slice(-2) + ":" + ("00" + appmt.startingDate.getMinutes()).slice(-2)}}
              </div>
              {{appmt.subject}}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<section class="loginSection">
  <app-login #login></app-login>
</section>


