container {
  box-shadow: 2px 2px 10px #666;
}

body {
  /*background: #e0e0e0;*/
  height: 100vh;
}

#cal {
  /*width: 100%;*/
  /*height: 100%;*/
  margin: 70px auto;
  font: 13px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
  /*display:table;*/
}

#cal .header {
  cursor: default;
  background: #e0aa92;
  background: -moz-linear-gradient(top, #93606e, #e0aa92);
  background: -webkit-gradient(linear, left top, left bottom, from(#93606e), to(#e0aa92));
  height: 80px;
  position: relative;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  text-shadow: 0px -1px 0 #e0aa92;
}

#cal .header span {
  display: inline-block;
  line-height: 34px;
  padding-top: 20px; /*ajustar*/
}

#cal .header .button {
  width: 10%;
  height: 100%;
  text-align: center;
  position: absolute;
}

#cal .header .left.button {
  left: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-right: 1px solid #bb93b5;
}

#cal .header .right.button {
  right: 0;
  top: 0;
  border-right: 1px solid #bb93b5;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

#cal .header .button:hover {
  background: -moz-linear-gradient(top, #93606e, #e0aa92);
  background: -webkit-gradient(linear, left top, left bottom, from(#93606e), to(#e0aa92));
}

#cal .header .month-year {
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

#cal table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}

#cal td {
  padding: 3px !important;
  margin: 3px;
  max-width: 5em;
  min-width: 5em;
  color: #2b2b2b;
  /*width:100%;*/
  height: 10vw;
  max-height: 5em;
  min-height: 5em;
  /* line-height:150px;  */
  text-align: left;
  vertical-align: text-top; /*no hace caso de esto*/
  border: 1px solid #e6e6e6;
  cursor: default;
}

#cal #days td {
  height: 1vw;
  /*line-height: 30px;*/
  text-align: center;
  /*text-transform:uppercase;*/
  color: #333333;
}

#cal #days td:not(:last-child) {
  border-right: 1px solid #fff;
}

#cal #cal-frame td.today {
  background: #d9ae9b;
  color: #838285;
}

#cal #cal-frame td.notinthemonth {
  background: #ededed;
  color: #a29f9f;
  box-shadow: 1px 1px 0px #fff inset;
}

#cal #cal-frame td:not(.nil):hover {
  background: #f3e5f5;
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
}

#cal #cal-frame td span {
  font-size: 80%;
  position: relative;
}

#cal #cal-frame td span:first-child {
  bottom: 5px;
}

#cal #cal-frame td span:last-child {
  top: 5px;
}

#cal #cal-frame table.curr {
  float: left;
}

#cal #cal-frame table.temp {
  position: absolute;
}

.cancel {
  text-decoration-line: line-through;
}

.cancel-pill{
  background-color: #8c898c !important;
  color: #f3eaea;
}

.pill{
  background-color: rgba(238, 185, 69, 0.97) !important;
  color: black;
}

#cal #cal-frame td:not(.nil):hover {
  background: #b68592;
  color: white !important;
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
}

