.footer {
  margin-top: 20px;
  overflow: hidden;
  /*background-color: #af7e8c;*/
  background-color: #70696b;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

img {
  display: flex;
  margin-inline: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 40%;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  cursor:pointer;
  color: white;
}

.link:hover {
  text-decoration: underline
}

.background {
  background-image: url('../../../assets/img/Fondo_Instagram2.jpg');
  width: 100%;
  height: auto;
}
