<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Correo de contacto desde la web</title>
  <style>
    body {
      color: #333333;
      font-family: Arial, sans-serif;
      font-size: 14px;
      line-height: 1.429;
    }
  </style>
</head>
<body>
<div>
  <header>
    <p>Hola Sonia,</p>
    <p>Tienes un correo de solicitud de información de la web:</p>
  </header>
  <section>
    <ul>
      <li>Nombre: {{name}}</li>
      <li>Apellidos: {{surname}}</li>
      <li>Teléfono: {{telephone}}</li>
      <li>E-mail: {{email}}</li>
      <li>Comentario: {{comment}}</li>
    </ul>
  </section>
  <footer>
    <p>Correo automático<br>Desde: slaserybelleza@gmail.com</p>
  </footer>
</div>
</body>

</html>
