/* You can add global styles to this file, and also import other style files */
.slaser-color {
  color: #e0aa92;
}

.myButton {
  border: none;
  padding: 8px;
  background-color: #deaca1;
  border-radius: 4px;
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.myButton:hover {
  text-decoration: none;
  /*box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24);*/
  background-color: #d59283;
  color: black;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
