<app-navbarcompany></app-navbarcompany>

<main>
  <div class="container mt-5 p-md-2 m-md-5 p-lg-5 m-lg-5 h-100 d-inline-block">
    <h5 class="d-flex justify-content-start">Citas para el {{listDay}}</h5>
    <div class="d-flex justify-content-end mt-4">
      <!--    <button type="button" class="btn btn-outline-primary me-2" routerLink="/add-appointment">Nueva Cita</button>-->
      <button type="button" class="btn btn-outline-primary me-2" (click)="addAppointment(calendarDate.date)">Nueva
        Cita
      </button>
      <button type="button" class="btn btn-outline-primary" routerLink="/companyshome">Anterior</button>
    </div>
    <div *ngIf="calendarDate.appointments?.length == 0" class="alert-info mt-4 p-3">
      No hay citas programadas para la fecha seleccionada
    </div>
    <div id="accordionAppointments" class="accordion mt-4" *ngIf="calendarDate.appointments.length > 0">
      <div class="accordion-item" *ngFor="let appointment of calendarDate.appointments; let i = index">
        <div class="accordion-header">
          <div class="btn-group w-100 align-items-center"
               [class.cancel]="appointment.cancelDate">
<!--            [ngClass]="{'notcancel': !appointment.cancelDate>-->
            <button class="accordion-button" [ngClass]="{'collapsed': i != 0}" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse'+ i" aria-expanded="true" [attr.aria-controxls]="'collapse'+ i">
              <div class="badge rounded-pill me-2"
                   [class.bg-primary]="!appointment.cancelDate"
                   [class.bg-secondary]="appointment.cancelDate">
                {{("00" + appointment.startingDate.getHours()).slice(-2) + ":" + ("00" + appointment.startingDate.getMinutes()).slice(-2)}}</div>
              {{appointment.place}} - {{appointment.subject}}
              <span *ngIf="appointment.cancelDate">. [CITA CANCELADA]</span>
            </button>
            <button type="button" class="btn-close btn-sm m-2" aria-label="Close" data-bs-toggle="modal"
                     data-bs-placement="top" data-bs-target="#confirmDelete"
                    title="Cancelar Cita" (click)="confirmDelete(appointment)"></button>
          </div>
        </div>
        <div [id]="'collapse'+ i" class="collapse" data-bs-parent="#accordionAppointments">        <!-- [ngClass]="{ 'show': i == 0 }"-->
          <div class="accordion-body">
            <app-appointment-details (updateAppointment)="updateAppointment($event)" [appointment]="appointment"></app-appointment-details>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Por favor confirma la eliminación de esta cita</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="badge bg-primary rounded-pill me-2">{{("00" + appointmentToDelete.startingDate.getHours()).slice(-2) + ":" +
          ("00" + appointmentToDelete.startingDate.getMinutes()).slice(-2)}}</div>
              {{appointmentToDelete.place}} - {{appointmentToDelete.subject}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteAppointment(appointmentToDelete.id)">Confirmar</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</main>


<app-footer></app-footer>

