main {
  margin-top: 40px;
}

.container {
  min-height: 25em;
  box-shadow: 2px 2px 10px #666;
}

.alert-info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

.cancel {
  text-decoration-line: line-through;
}

.accordion-body {
  margin-top: 4px;
  border-left: 3px solid rgba(13, 110, 253, .25);
}
