.panel-heading[data-toggle="collapse"]:after {
  font-family: "Glyphicons Halflings";
  content: "e072"; /* "play" icon */
  position: absolute;
  color: #b0c5d8;
  font-size: 18px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading[data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.jumbotron {
  background-color: #e0b8a7;
  /*background-color: #e0aa92;*/ /*Color de sLaseryBelleza*/
}

.carousel-inner img {
  width: 100%;
  height: 50%;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.article {
  padding-top: 250px;
}

.accordion-collapse {
  color: #7e6052;
  padding-left: 20px;
  font-style: italic;
}

.my-pill {
  text-decoration-line: none;
  background-color: #d9c3d9;
  color: black;
}

.myShadow {
  box-shadow: 2px 2px 10px #666;
  min-height: 500px;
}

.myCard {
  max-height: 300px;
}
