<app-navbar></app-navbar>

<header class="container-fluid presentation pt-5">
  <section id="inicio" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#inicio" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#inicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#inicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/other1/portada23.jpg" class="d-block w-100" alt="Portada">
        <div class="carousel-caption">
          <h1 class="text-black-50">Servicios de explotación compartida</h1>
          <h4 class="text-black-50">¿Quieres que vayamos a tu centro y realicemos nuestros tratamientos?</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/other1/piernas4.jpg" class="d-block w-100" alt="Piernas">
        <div class="carousel-caption">
          <h1 class="text-black-50">Depilación Láser Triple Onda</h1>
          <h4 class="text-black-50">La última tecnología en tus manos</h4>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/other1/abdomen2%20copia%202.jpg" class="d-block w-100" alt="Abdomen">
        <div class="carousel-caption">
          <h1 class="text-black-50">Aparatología de última generación</h1>
          <h4 class="text-black-50">Soluciones eficaces para profesionales</h4>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#inicio" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#inicio" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </section>

  <section class="jumbotron" id="jumbo1">
    <div class="mt-4 p-5 rounded">
      <p class="lead text-center">
        <cite>"Tras
          <strong>20 años de experiencia y formación en estética</strong>, he decidido abrir una vez más mi
          propio negocio de belleza
          en Madrid.
          <br> En esta ocasión al servicio de otros centros, ofreciendo los últimos tratamientos en estética
          con la última aparatología.
          <br> La pasión por la estética te hace seguir creciendo y el poder trabajar en colaboración con
          otros centros te permite absorber de todos y cada uno de ellos los conocimientos de distintos profesionales"
        </cite>
      </p>
    </div>
  </section>

</header>

<main>
  <section class="row mt-5 justify-content-center" id="enSLaserTeOfrecemos">
    <div class="col-md-5 text-center align-middle my-auto">
      <h5 class="fw-light">En S-Láser y belleza te ofrecemos los últimos tratamientos de estética -tanto faciales como
        corporales- con la aparatología más adecuada para cada uno de tus clientes.</h5>
      <br>
      <h5 class="fw-light">Trabajamos las terapias con mayor resultado y contamos con la última tecnología como:
        <a data-bs-toggle="modal" href="#modalMicroneedling" class="my-pill badge rounded-pill">Microneedling</a>,
        <a data-bs-toggle="modal" href="#modalHifu" class="my-pill badge rounded-pill">Hifu 3D</a>,
        <a data-bs-toggle="modal" href="#modalElectro" class="my-pill badge rounded-pill">Electromagnetismo</a>,
        <a data-bs-toggle="modal" href="#modalTatus" class="my-pill badge rounded-pill">Q-Swiched</a>,
        <a data-bs-toggle="modal" href="#modalRadio" class="my-pill badge rounded-pill">Radiofrecuencia.</a>
        Por ello cada cliente cuenta con resultados garantizados.
      </h5>
      <br>
      <h5 class="fw-light">Además de todo esto, también contamos con la tecnología
        <a data-bs-toggle="modal" href="#modalLaser" class="my-pill badge rounded-pill">Tri-Láser</a>
        , para tratamientos de depilación.
      </h5>
    </div>
    <div class="col-md-5">
      <!--      <img class="img-fluid w-50 d-block rounded" src="assets/img/belleza saludable.jpg"/>-->
      <img class="img-fluid w-auto d-block rounded" src="assets/img/other/frente1.jpg" alt="Frente"/>
    </div>
  </section>

  <!--Modal-->
  <section id="modals">
    <div class="modal" tabindex="-1" id="modalLaser">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Trionda</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul>
              <li>Diodo</li>
              <li>Alejandrita</li>
              <li>Neodimio</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modalMicroneedling">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Microneedling</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Mesoterapia con los mejores productos</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modalHifu">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Hifu</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Facial y Corporal (Ultrasonido focalizado de alta intensidad)</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modalElectro">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Slim</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Equipo de electroestimulación por medio de campos electromagnéticos</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modalRadio">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Indiba</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Diatermia capacitiva-resistiva</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" tabindex="-1" id="modalTatus">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Q-Swiched</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul>
              <li>Eliminación de tatuajes</li>
              <li>Eliminación de manchas</li>
              <li>Foto-rejuvenecimiento</li>
              <li>Peeling con carbón activo</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container pt-3" id="explotacion">
    <article id="presentation">
      <div class="row pt-5">
        <div class="col-lg-4 p-5">
          <img src="assets/img/noe1 color.jpg" class="mx-auto w-100 d-block" alt="Noe">
        </div>
        <div class="col-lg-8 p-3 single-post-content-wrapper">
          <p class="display-2 text-centered">Explotación Compartida</p>
          <p class="display-6">Un servicio 100% eficaz para aumentar los ingresos de tu negocio a inversión cero</p>
          <p>Es muy sencillo:</p>
          <p>Una técnico especializada acudirá a tu salón de belleza, gimnasio, centro de estética o clínica,
            una o varias veces al mes, en función de la demanda.</p>
          <p>No es necesario comprar ni alquilar ningún aparato estético, además tampoco será necesario la
            contratación de nuevo
            personal, ya que nosotros nos ocupamos de todo.</p>
          <p>De la facturación total, tu centro se llevara una comisión muy atractiva de los tratamiento
            realizados.</p>
          <div>
            <p> Ventajas para tu negocio: </p>
            <ul>
              <li>Personal cualificado</li>
              <li>Maquinaria</li>
              <li>Seguro de responsabilidad civil</li>
              <li>Cartelería</li>
              <li>Tarifas económicas</li>
              <li>Altos ingresos</li>
              <li>Jornada de puertas abiertas para la captación de nuevos clientes e información de los
                equipos con demostraciones
              </li>
              <li>Fidelización de clientes con nuevos servicios</li>
              <li>Atenderemos y guiaremos a tus clientes en los tratamientos que son más convenientes para
                que consigan sus objetivos y queden satisfechos
              </li>
            </ul>
          </div>
        </div>
      </div>
    </article>
    <article id="cards">
      <div class="row" id="ventajas">
        <div class="col-lg-4">
          <div class="card text-center my-3 p-3 h-100 myShadow">
            <img class="card-img-top h-50 myCard" src="assets/img/other/istockphoto-1255236230-612x612.jpg"
                 alt="Todo ventajas">
            <div class="card-body h-50">
              <h4 class="card-title">Todo Ventajas</h4>
              <p class="card-text h-50">Nuestro servicio de explotación compartida te ofrece un sinfín
                de ventajas a <strong>riesgo cero</strong>
              </p>
              <a class="myButton" data-bs-toggle="modal" href="#todoVentajas">Más información</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center p-3 my-3 h-100 myShadow">
            <img class="card-img-top h-50 myCard" src="assets/img/other/istockphoto-1077728164-612x612.jpg"
                 alt="Menos gastos">
            <div class="card-body h-50">
              <h4 class="card-title">Menos gastos</h4>
              <p class="card-text h-50">No necesitara contratar más personal, Nosotros enviaremos a
                nuestros <strong>expertos titulados</strong> a tu centro</p>
              <a class="myButton" data-bs-toggle="modal" href="#menosGastos">Más información</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card text-center p-3 my-3 h-100 myShadow">
            <img class="card-img-top h-50 myCard" src="assets/img/other1/manos.jpg" alt="Cero riesgo">
            <div class="card-body h-50">
              <h4 class="card-title">Cero Riesgo</h4>
              <p class="card-text h-50">No tendrás que arriesgar para disponer en tu centro de la
                <strong>aparatología más avanzada</strong> del mercado</p>
              <a class="myButton" data-bs-toggle="modal" href="#ceroRiesgo">Más información</a>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="cardModals">
      <div class="modal" id="todoVentajas">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Todo Ventajas</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Nos encargamos de todo desde el primer momento: Realizamos jornada de puertas
              abiertas para dar información a tus clientes y presentarles nuestros equipos y tratamientos.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="menosGastos">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Menos Gastos</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h6>Ahorro:</h6>
              <ol>
                <li>Seguridad social</li>
                <li>Sueldo de empleada</li>
                <li>Inversión en equipos</li>
                <li>Material de cabina</li>
                <li>Seguro de responsabilidad civil</li>
                <li>Seguro de los equipos</li>
              </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="ceroRiesgo">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cero Riesgo</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Aumentas la oferta de servicios de su centro sin inversión</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </article>
    <article id="lists">
      <div class="row" id="queVentajas">
        <div class="col-lg mt-lg-5 mt-sm-4">
          <div class="p-4 h-100 myShadow">
            <div class="accordion accordion-flush" id="accordionExample">
              <h2>¿Qué ventajas tiene para tí la modalidad de trabajo en explotación compartida?</h2>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading1">
                  <div class="btn-group w-100 align-items-center" role="group">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse1" aria-expanded="false"
                            aria-controls="flush-collapse1">
                      Aumentas la oferta de servicios de tu centro
                    </button>
                  </div>
                </h2>
                <div id="flush-collapse1" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading1" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">
                    <h6>Puedes elegir los tratamientos que realizaremos entre:</h6>
                    <ul>
                      <li>Depilación Láser</li>
                      <li>Electromagnetismo</li>
                      <li>Radiofrecuencia</li>
                      <li>Q-Swiched</li>
                      <li>Dermapen</li>
                      <li>Tratamientos de cabina:
                        <ul>
                          <li>Higienes faciales</li>
                          <li>Masaje relajante</li>
                          <li>Extensiones de pestañas</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading2">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse2" aria-expanded="false"
                          aria-controls="flush-collapse2">
                    No tienes ningún tipo de desembolso económico
                  </button>
                </h2>
                <div id="flush-collapse2" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading2" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">De la facturación total, tu centro recibirá una atractiva cantidad
                    de los tratamientos realizados
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading3">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse3" aria-expanded="false"
                          aria-controls="flush-collapse3">
                    No pagas ningún tipo de cuota mensual
                  </button>
                </h2>
                <div id="flush-collapse3" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading3" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">Ingresos sin desembolso</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading4">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse4" aria-expanded="false"
                          aria-controls="flush-collapse4">
                    Sin gasto de mantenimiento de equipos
                  </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading4" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">El mantenimiento de los equipos son costosos, con esta opción además
                    de dicho mantenimiento te ahorraras seguros de los mismos y gastos por averías.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading5">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse5" aria-expanded="false"
                          aria-controls="flush-collapse5">
                    Tienes total flexibilidad en los precios de los servicios
                  </button>
                </h2>
                <div id="flush-collapse5" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading5" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">Adecuamos los precios a la zona en la que se encuentre tu centro
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading6">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse6" aria-expanded="false"
                          aria-controls="flush-collapse6">
                    Incrementas el valor añadido de tu centro, contando con nuestro respaldo
                  </button>
                </h2>
                <div id="flush-collapse6" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading6" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">Vamos a aportar a tu centro todo nuestro conocimiento
                    y compromiso con tus clientes
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading7">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapse7" aria-expanded="false"
                          aria-controls="flush-collapse7">
                    Dispones de servicios de información de forma rápida que te hacen estar por
                    encima de la competencia
                  </button>
                </h2>
                <div id="flush-collapse7" class="accordion-collapse collapse"
                     aria-labelledby="flush-heading7" data-bs-parent="#accordionExample">
                  <div class="accordion-body mb-4">Evitas que tus clientes busquen tratamientos en otros centros
                    cercanos, dándoles información y pruebas gratuitas de todos los tratamientos
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg mt-lg-5 mt-sm-4">
          <div class="p-4 h-100 myShadow">
            <ul>
              <h2>¿Por qué elegir S-Láser y belleza para trabajar la modalidad de explotación compartida
                en apatología estética?</h2>
              <p class="mt-4">Desde que comiences a trabajar con nosotros obtendrás:</p>
              <div class="p-5">
                <li><p>Tratamientos de calidad.</p></li>
                <li><p>Profesionales titulados.</p></li>
                <li><p>Cartelería y material publicitario.</p></li>
                <li><p>Tarifas ajustadas.</p></li>
                <li><p>La última tecnología en estética avanzada.</p></li>
                <li><p>Contrato de colaboración sin compromiso.</p></li>
                <li><p>Altas comisiones.</p></li>
                <li><p>Publicidad, equipo, operadora y productos.</p></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section class="container" id="alquiler">
    <div class="row pt-5">
      <div class="col-lg-8 p-3 single-post-content-wrapper">
        <p class="display-2 text-centered">Alquiler</p>
        <p class="display-6">Alquiler de equipos para tu centro solo cuando lo necesites. </p>
        <div>
          <h5>Elige la modalidad:</h5>
          <ul>
            <li>Alquiler Diario</li>
            <li>Alquiler semanal</li>
            <li>Alquiler mensual</li>
          </ul>
          <h6>Para más información contáctanos y te daremos los detalles personalizados que más se ajusten a tus necesidades</h6>
        </div>
      </div>
      <div class="col-lg-4 p-3">
        <img src="assets/img/Electroestimuacion1.jpg" class="rounded-circle img-thumbnail shadow"
             alt="Electroestimulacion">
      </div>
    </div>
  </section>

  <section class="container pt-3" id="venta">
    <div class="row pt-5">
      <div class="col-lg-4 p-3">
        <img src="assets/img/Electroestimulacion2.jpg" class="rounded-circle img-thumbnail shadow"
             alt="Electroestimulacion">
      </div>
      <div class="col-lg-8 p-3 single-post-content-wrapper">
        <p class="display-2 text-center">Venta</p>
        <p class="display-6">Para financiar tus compras hasta 60 meses ponemos a tu alcance las mejores opciones</p>
        <div>
          <ul>
            <li>Estudiamos cada caso sin compromiso y nos encargamos de la gestión de Renting o Leasing, negociando
              con las entidades financieras para conseguir las cuotas más asequibles
            </li>
            <li>Demostración gratuita</li>
            <li>Formación y asesoramiento post-venta incluidos en el precio</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="container pt-3" id="formacion">
    <div class="row pt-5">
      <div class="col-lg-8 p-3">
        <p class="display-2 text-centered">Formación</p>
        <p class="display-6">Personalizamos la formación de tus equipos</p>
        <div>
          <ul>
            <li>Además de una formación inicial, te ofrecemos una continuada en el tiempo. Nosotros
              siempre estamos mejorando nuestros productos para que respondan de la mejor forma posible a las
              necesidades de tus pacientes
            </li>
            <li>Si cambias de empleada o si necesitas un curso de reciclaje, estaremos encantados de ayudarte</li>
            <li>Diploma acreditativo de cada formación y equipo</li>
            <li>Asesoramiento Telefónico post-formación</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 p-3">
        <img src="assets/img/hifu.jpg" class="rounded-circle img-thumbnail shadow" alt="hifu">
      </div>
    </div>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>


