
<!-- navbar -->
<header class="navigation">
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a routerLink="/home" class="navbar-brand">
        <img src="assets/img/logo_slaserybellez_sinfondo.png" alt="Brand immage" width="30" height="24"
             class="d-inline-block align-text-top">
        <span class="align-middle slaser-color fw-lighter">-Laser y Belleza</span>
        <span class="badge bg-warning text-black rounded-pill ms-4 d-none d-sm-inline">Area de empresa</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
               aria-label="Close"
               data-bs-toggle="modal" data-bs-target="#enConstruccion"
               data-bs-placement="top"> Clientes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
               aria-label="Close"
               data-bs-toggle="modal" data-bs-target="#enConstruccion"
               data-bs-placement="top"> Facturas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
               aria-label="Close"
               data-bs-toggle="modal" data-bs-target="#enConstruccion"
               data-bs-placement="top"> Listados </a>
          </li>
          <li class="nav-item" *ngIf="userFullName">
            <a type="button" class="ms-lg-5 btn btn-outline-warning"
               (click)="logOut()">{{userFullName}} - <span class="badge bg-warning text-black">LogOut</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- navbar -->

<!-- Modal -->
<div class="modal fade" id="enConstruccion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Lógica en construcción</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
