<!-- navbar -->
<section class="navigation">
  <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a (click)="login.openModal('companyshome')" class="navbar-brand" style="cursor: default">
        <img src="assets/img/logo_slaserybellez_sinfondo.png" alt="Brand immage" width="30" height="24"
             class="d-inline-block align-text-top" >
        <span class="align-middle slaser-color fw-lighter">-Laser y Belleza</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#inicio" class="nav-link" aria-current="page"> Inicio </a>
          </li>
          <li class="nav-item">
            <a href="#explotacion" class="nav-link"> Explotacion Compartida </a>
          </li>
          <li class="nav-item">
            <a href="#alquiler" class="nav-link"> Alquiler </a>
          </li>
          <li class="nav-item">
            <a href="#venta" class="nav-link"> Venta </a>
          </li>
          <li class="nav-item">
            <a href="#formacion" class="nav-link"> Formación </a>
          </li>
          <li class="nav-item">
            <a (click)="contact.openModal()" class="nav-link"> Contacto </a>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" routerLinkActive="active" class="nav-link"> Nosotros </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section class="loginSection">
  <app-login #login></app-login>
</section>

<section class="contactSection">
  <app-contact #contact></app-contact>
</section>


