body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.title {
  text-align: center;
  color: #691b1b !important;
}

img {
  display: flex;
  padding-top: 15px;
  margin: auto;
  height: auto;
  width: auto;
  max-width: 135px;
  max-height: 135px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align: center;
  /*margin:auto*/
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: underline;
}

.jumbotron {
  background-color: #e0b8a7;
  /*background-color: #e0aa92;*/       /*Color de sLaseryBelleza*/
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
